@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap");

* {
  box-sizing: border-box;
  z-index: 2;
  position: relative;
}

body,
#root {
  margin: 0px;
  padding: 0px;
  z-index: 2;
  font-family: "Barlow Condensed", sans-serif;
  font-family: "Bellefair", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}
